<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Evara Dashboard</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/admin/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/admin/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="screen-overlay"></div>
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="index.html" class="brand-wrap">
                <img src="/admin/assets/imgs/theme/sandglass-high-resolution-logo-transparent.svg" class="logo" alt="Hourglass Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"> <i class="text-muted material-icons md-menu_open"></i> </button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                <li class="menu-item active">
                    <a class="menu-link" href="/admin/dashboard"> <i class="icon material-icons md-home"></i>
                        <span class="text">Dashboard</span>
                    </a>
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/products"> <i class="icon material-icons md-shopping_bag"></i>
                        <span class="text">Products</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-products-list.html">Product List</a>
                        <a href="page-products-grid.html">Product grid</a>
                        <a href="page-products-grid-2.html">Product grid 2</a>
                        <a href="page-categories.html">Categories</a>
                    </div> -->
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/orders"> <i class="icon material-icons md-shopping_cart"></i>
                        <span class="text">Orders</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-orders-1.html">Order list 1</a>
                        <a href="page-orders-2.html">Order list 2</a>
                        <a href="page-orders-detail.html">Order detail</a>
                        <a href="page-orders-tracking.html">Order tracking</a>
                        <a href="page-invoice.html">Invoice</a>
                    </div> -->
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/users"> <i class="icon material-icons md-public"></i>
                        <span class="text">Users</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-sellers-cards.html">Sellers cards</a>
                        <a href="page-sellers-list.html">Sellers list</a>
                        <a href="page-seller-detail.html">Seller profile</a>
                    </div> -->
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/add_product"> <i class="icon material-icons md-add_box"></i>
                        <span class="text">Add product</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-form-product-1.html">Add product 1</a>
                        <a href="page-form-product-2.html">Add product 2</a>
                        <a href="page-form-product-3.html">Add product 3</a>
                        <a href="page-form-product-4.html">Add product 4</a>
                    </div> -->
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/categories"> <i class="icon material-icons md-apps"></i>
                        <span class="text">Categories</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-transactions-1.html">Transaction 1</a>
                        <a href="page-transactions-2.html">Transaction 2</a>
                        <a href="page-transactions-details.html">Transaction Details</a>
                    </div> -->
                </li>
                <li class="menu-item ">
                    <a class="menu-link" href="/admin/coupons"> <i class="icon material-icons md-payment"></i>
                        <span class="text">Coupons</span>
                    </a>
                    <!-- <div class="submenu">
                        <a href="page-account-login.html">User login</a>
                        <a href="page-account-register.html">User registration</a>
                        <a href="page-error-404.html">Error 404</a>
                    </div> -->
                </li>
                <!-- <li class="menu-item">
                    <a class="menu-link" href="/admin/reviews"> <i class="icon material-icons md-comment"></i>
                        <span class="text">Reviews</span>
                    </a>
                </li> -->
                <li class="menu-item">
                    <a class="menu-link" href="/admin/offers"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text">Offers</span> </a>
                </li>
                <li class="menu-item">
                    <a class="menu-link" disabled href="/admin/statistics"> <i class="icon material-icons md-pie_chart"></i>
                        <span class="text">Statistics</span>
                    </a>
                </li>
            </ul>
            <hr>
            <!-- <ul class="menu-aside">
                <li class="menu-item has-submenu">
                    <a class="menu-link" href="#"> <i class="icon material-icons md-settings"></i>
                        <span class="text">Settings</span>
                    </a>
                    <div class="submenu">
                        <a href="page-settings-1.html">Setting sample 1</a>
                        <a href="page-settings-2.html">Setting sample 2</a>
                    </div>
                </li>
                <li class="menu-item">
                    <a class="menu-link" href="page-blank.html"> <i class="icon material-icons md-local_offer"></i>
                        <span class="text"> Starter page </span>
                    </a>
                </li>
            </ul> -->
            <br>
            <br>
        </nav>
    </aside>
    <main class="main-wrap">
        <header class="main-header navbar">
            <div class="col-search">
                <form class="searchform">
                    <div class="input-group">
                        <input list="search_terms" type="text" class="form-control" placeholder="Search">
                        <button class="btn btn-light bg" type="button"> <i class="material-icons md-search"></i></button>
                    </div>
                    <datalist id="search_terms">
                        <option value="Products">
                        <option value="New orders">
                        <option value="Apple iphone">
                        <option value="Ahmed Hassan">
                    </datalist>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside"> <i class="material-icons md-apps"></i> </button>
                <ul class="nav">
                    <!-- <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                            <span class="badge rounded-pill">3</span>
                        </a>
                    </li> -->
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#"> <i class="material-icons md-nights_stay"></i> </a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="requestfullscreen nav-link btn-icon"><i class="material-icons md-cast"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="/admin/logout" ><i class="material-icons md-exit_to_app"></i></a>
                    </li>
                    <!-- <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false"><i class="material-icons md-public"></i></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="/admin/assets/imgs/theme/flag-us.png" alt="English">English</a>
                            <a class="dropdown-item" href="#"><img src="/admin/assets/imgs/theme/flag-fr.png" alt="Français">Français</a>
                            <a class="dropdown-item" href="#"><img src="/admin/assets/imgs/theme/flag-jp.png" alt="Français">日本語</a>
                            <a class="dropdown-item" href="#"><img src="/admin/assets/imgs/theme/flag-cn.png" alt="Français">中国人</a>
                        </div>
                    </li>-->
                    <!-- <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false"> <img class="img-xs rounded-circle" src="/admin/assets/imgs/people/avatar2.jpg" alt="User"></a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <a class="dropdown-item" href="#"><i class="material-icons md-perm_identity"></i>Edit Profile</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-settings"></i>Account Settings</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-account_balance_wallet"></i>Wallet</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-receipt"></i>Billing</a>
                            <a class="dropdown-item" href="#"><i class="material-icons md-help_outline"></i>Help center</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="#"><i class="material-icons md-exit_to_app"></i>Logout</a>
                        </div>
                    </li>  -->
                </ul>
            </div>
        </header>
        <section class="content-main">
            <div class="content-header">
                <div>
                    <h2 class="content-title card-title">Dashboard </h2>
                    <p>Whole data about your business here</p>
                </div>
                
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-primary-light"><i class="text-primary material-icons md-monetization_on"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Revenue</h6>
                                <span>₹<%=totalRevenue%></span>
                                <!-- <span class="text-sm">
                                    Shipping fees are not included
                                </span> -->
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-success-light"><i class="text-success material-icons md-local_shipping"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Orders</h6> <span><%=totalOrders%></span>
                                <!-- <span class="text-sm">
                                    Excluding orders in transit
                                </span> -->
                            </div>
                        </article>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-warning-light"><i class="text-warning material-icons md-qr_code"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Products</h6> <span><%=productData.length%></span>
                                <!-- <span class="text-sm">
                                    In 19 Categories
                                </span> -->
                            </div>
                        </article>
                    </div>
                </div>
                <!-- <div class="col-lg-3">
                    <div class="card card-body mb-4">
                        <article class="icontext">
                            <span class="icon icon-sm rounded-circle bg-info-light"><i class="text-info material-icons md-shopping_basket"></i></span>
                            <div class="text">
                                <h6 class="mb-1 card-title">Monthly Earning</h6> <span>₹6,982</span>
                                <span class="text-sm">
                                    Based in your local time.
                                </span>
                            </div>
                        </article>
                    </div>
                </div> -->
            </div>
            <div class="row">
                <div class="col-xl-12 col-lg-12">
                    <div class="card mb-4">
                        <article class="card-body">
                            <h5 class="card-title">Sale statistics</h5>
                            <select id="intervalSelect" name="interval">
                                <option value="day" <%= interval === 'day' ? 'selected' : '' %>>Day</option>
                                <option value="month" <%= interval === 'month' ? 'selected' : '' %>>Month</option>
                                <option value="year" <%= interval === 'year' ? 'selected' : '' %>>Year</option>
                            </select>
                        </article>
                        <canvas id="turnoverChart"></canvas>
                        
                    </div>
                    
                </div>
                
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <!-- Date Filter Section -->
                    <div class="d-flex justify-content-between align-items-center mb-3">
                        <div class="col-6">
                            <form id="filterForm" action="/admin/dashboard" method="GET">
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="me-2">
                                        <label for="dateFrom" class="form-label">From:</label>
                                        <input type="date" id="dateFrom" name="dateFrom" class="form-control" />
                                    </div>
                                    <div class="me-2">
                                        <label for="dateTo" class="form-label">To:</label>
                                        <input type="date" id="dateTo" name="dateTo" class="form-control" />
                                    </div>
                                    <div class="me-2">
                                        <button type="submit" class="btn btn-primary mt-3">Filter</button>
                                    </div>
                                    <div class="me-2">
                                        <select id="reportFormat" class="form-select mt-3" style="width: 100px;">
                                            <option value="pdf">PDF</option>
                                            <option value="excel">Excel</option>
                                        </select>
                                    </div>
                                    <div>
                                        <a href="#" id="createReportBtn" class="btn btn-primary text-nowrap mt-3">Create report</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-2 col-3">
                            <select class="form-select" id="orderFilter">
                                <option id="allOrders" selected>All Orders</option>
                                <option id="todayOption">Today</option>
                                <option id="thisWeekOption">This Week</option>
                                <option id="thisMonthOption">This Month</option>
                            </select>
                        </div>
                    </div>
                    <!-- Table Section -->
                    <div class="table-responsive">
                        <table class="table align-middle table-nowrap mb-0">
                            <thead class="table-light">
                                <tr>
                                    <th class="align-left" scope="col">Order ID</th>
                                    <th class="align-left" scope="col">Billing Name</th>
                                    <th class="align-left" scope="col">Date</th>
                                    <th class="align-left" scope="col">Total</th>
                                    <th class="align-left" scope="col">Payment Status</th>
                                    <th class="align-left" scope="col">Payment Method</th>
                                    <th class="align-left" scope="col">View Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% orderData.forEach(order => { %>
                                <tr>
                                    <td><a href="#" class="fw-bold"><%= order.orderId %></a></td>
                                    <td><%= order.userId.username %></td>
                                    <td><%= new Date(order.orderDate).toDateString() %></td>
                                    <td>₹<%= order.payableAmount %></td>
                                    <td><span class="badge badge-pill badge-soft-<%= (order.paymentStatus=='Success')?'success':'warning'%>"><%= order.paymentStatus %></span></td>
                                    <td><i class="material-icons md-payment font-xxl text-muted mr-5"></i> <%= order.paymentMethod %></td>
                                    <td><a href="/admin/order_details?orderId=<%= order.orderId %>" class="btn btn-xs">View details</a></td>
                                </tr>
                                <% }) %>
                            </tbody>
                        </table>
                    </div>
                    <!-- Pagination Section -->
                    <nav aria-label="Page navigation example" class="mt-4">
                        <ul class="pagination justify-content-end">
                            <% if(currentPage > 1) { %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= currentPage - 1 %>">Previous</a>
                            </li>
                            <% } %>
                            <% for(let i = 1; i <= totalPages; i++) { %>
                            <li class="page-item <%= (currentPage === i) ? 'active' : '' %>">
                                <a class="page-link" href="?page=<%= i %>"><%= i %></a>
                            </li>
                            <% } %>
                            <% if(currentPage < totalPages) { %>
                            <li class="page-item">
                                <a class="page-link" href="?page=<%= currentPage + 1 %>">Next</a>
                            </li>
                            <% } %>
                        </ul>
                    </nav>
                </div>
            </div>
            
            <!-- <div class="pagination-area mt-30 mb-50">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-start">
                        <% if (currentPage > 1) { %>
                        <li class="page-item"><a class="page-link" href="?dateFrom=<%= dateFrom %>&dateTo=<%= dateTo %>&page=<%= currentPage - 1 %>&limit=<%= limit %>">Previous</a></li>
                        <% } %>
                        
                        <% for (let i = 1; i <= totalPages; i++) { %>
                            <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                                <a class="page-link" href="?dateFrom=<%= dateFrom %>&dateTo=<%= dateTo %>&page=<%= i %>&limit=<%= limit %>"><%= i %></a>
                            </li>
                        <% } %>
                        
                        <% if (currentPage < totalPages) { %>
                        <li class="page-item"><a class="page-link" href="?dateFrom=<%= dateFrom %>&dateTo=<%= dateTo %>&page=<%= currentPage + 1 %>&limit=<%= limit %>">Next</a></li>
                        <% } %>
                    </ul>
                </nav>
            </div> -->
            
        </section> <!-- content-main end// -->
        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    <script>
                    document.write(new Date().getFullYear())
                    </script> ©, Evara - HTML Ecommerce Template .
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">
                        All rights reserved
                    </div>
                </div>
            </div>
        </footer>
    </main>
    
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const today = new Date();

            // Format date as YYYY-MM-DD
            const formatDate = date => date.toISOString().split('T')[0];

            // Today's date
            const todayStr = formatDate(today);

            // First day of the week (Monday)
            const firstDayOfWeek = new Date(today.setDate(today.getDate() - today.getDay() + (today.getDay() === 0 ? -6 : 1)));
            const firstDayOfWeekStr = formatDate(firstDayOfWeek);

            // First day of the month
            const firstDayOfMonth = new Date(today.getFullYear(), today.getMonth(), 1);
            const firstDayOfMonthStr = formatDate(firstDayOfMonth);

            // Update the options with date ranges
            document.getElementById('todayOption').setAttribute('data-from', todayStr);
            document.getElementById('thisWeekOption').setAttribute('data-from', firstDayOfWeekStr);
            document.getElementById('thisMonthOption').setAttribute('data-from', firstDayOfMonthStr);

            let currentDateFrom = '', currentDateTo = '';

            // Function to fetch and update dashboard data
            function updateDashboard(dateFrom = '', dateTo = '', page = 1) {
                currentDateFrom = dateFrom;
                currentDateTo = dateTo;
                console.log(`Fetching data from ${dateFrom || 'All'} to ${dateTo || 'All'}, page: ${page}`);

                const url = `/admin/dashboard?dateFrom=${dateFrom}&dateTo=${dateTo}&page=${page}`;

                fetch(url, {
                    headers: {
                        'X-Requested-With': 'XMLHttpRequest'
                    }
                })
                .then(response => response.json())
                .then(data => {
                    // Update the order table
                    const tbody = document.querySelector('table tbody');
                    tbody.innerHTML = data.orderData.map(order => `
                        <tr>
                            <td><a href="#" class="fw-bold">${order.orderId}</a></td>
                            <td>${order.userId.username}</td>
                            <td>${new Date(order.orderDate).toDateString()}</td>
                            <td>₹${order.payableAmount}</td>
                            <td><span class="badge badge-pill badge-soft-${order.paymentStatus === 'Success' ? 'success' : 'warning'}">${order.paymentStatus}</span></td>
                            <td><i class="material-icons md-payment font-xxl text-muted mr-5"></i> ${order.paymentMethod}</td>
                            <td><a href="/admin/order_details?orderId=${order.orderId}" class="btn btn-xs">View details</a></td>
                        </tr>
                    `).join('');

                    // Update total revenue
                    document.querySelector('.card-body .text span').textContent = `₹${data.totalRevenue.toFixed(2)}`;

                    // Update pagination
                    updatePagination(data.currentPage, data.totalPages, dateFrom, dateTo);
                })
                .catch(error => console.error('Error:', error));
            }

            // Function to update pagination
            function updatePagination(currentPage, totalPages, dateFrom, dateTo) {
                const pagination = document.querySelector('.pagination');
                let paginationHTML = '';

                if (currentPage > 1) {
                    paginationHTML += `<li class="page-item"><a class="page-link" href="#" data-page="${currentPage - 1}">Previous</a></li>`;
                }

                for (let i = 1; i <= totalPages; i++) {
                    paginationHTML += `<li class="page-item ${currentPage === i ? 'active' : ''}"><a class="page-link" href="#" data-page="${i}">${i}</a></li>`;
                }

                if (currentPage < totalPages) {
                    paginationHTML += `<li class="page-item"><a class="page-link" href="#" data-page="${currentPage + 1}">Next</a></li>`;
                }

                pagination.innerHTML = paginationHTML;

                // Add event listeners to pagination links
                pagination.querySelectorAll('.page-link').forEach(link => {
                    link.addEventListener('click', function(e) {
                        e.preventDefault();
                        const page = this.getAttribute('data-page');
                        updateDashboard(dateFrom, dateTo, page);
                    });
                });
            }

            // Function to validate date range
            function validateDateRange() {
                const dateFrom = document.getElementById('dateFrom').value;
                const dateTo = document.getElementById('dateTo').value;

                if (dateFrom && dateTo && dateFrom > dateTo) {
                    alert("The 'From' date must be earlier than the 'To' date.");
                    return false;
                }
                return true;
            }

            // Event listener for date filtering form submission
            document.getElementById('filterForm').addEventListener('submit', function(e) {
                e.preventDefault();
                if (validateDateRange()) {
                    const dateFrom = document.getElementById('dateFrom').value;
                    const dateTo = document.getElementById('dateTo').value;
                    console.log('Filtering from:', dateFrom, 'to:', dateTo);
                    updateDashboard(dateFrom, dateTo);
                }
            });

            // Event listener for preset options
            document.getElementById('orderFilter').addEventListener('change', function() {
                const selectedOption = this.options[this.selectedIndex];
                const dateFrom = selectedOption.getAttribute('data-from') || '';
                const dateTo = formatDate(new Date()); // Always set dateTo to today if a date range is selected
                if (selectedOption.id === 'allOrders') {
                    // If 'All Orders' is selected, no date filter is applied
                    updateDashboard('', '');
                } else {
                    // Otherwise, apply the selected date range
                    updateDashboard(dateFrom, dateTo);
                }
            });

            // Event listener for report generation
            document.getElementById('createReportBtn').addEventListener('click', function (e) {
                e.preventDefault();

                const format = document.getElementById('reportFormat').value;

                // Use the current filter dates for report generation
                window.location.href = `/admin/generate_report?dateFrom=${currentDateFrom}&dateTo=${currentDateTo}&format=${format}`;
            });

            // Initial load with all orders
            updateDashboard(); // Load all orders without any date filters
        });

    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const ctx = document.getElementById('turnoverChart').getContext('2d');
            const graphData = JSON.parse('<%- graphData %>');
            const interval = '<%- interval %>';

            new Chart(ctx, {
                type: 'line',
                data: {
                    labels: graphData.map(item => item.date),
                    datasets: [{
                        label: 'Turnover',
                        data: graphData.map(item => item.turnover),
                        borderColor: 'rgb(75, 192, 192)',
                        tension: 0.1
                    }]
                },
                options: {
                    responsive: true,
                    scales: {
                        x: {
                            title: {
                                display: true,
                                text: interval.charAt(0).toUpperCase() + interval.slice(1)
                            }
                        },
                        y: {
                            title: {
                                display: true,
                                text: 'Turnover'
                            },
                            beginAtZero: true
                        }
                    }
                }
            });

            //Handle changes to date inputs and interval select
            
                document.getElementById('intervalSelect').addEventListener('change', function() {
                    const currentUrl = new URL(window.location.href);
                    currentUrl.searchParams.set(this.name, this.value);
                    window.location.href = currentUrl.toString();
                });
            
        });
    </script> 
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="/admin/assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="/admin/assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="/admin/assets/js/vendors/select2.min.js"></script>
    <script src="/admin/assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="/admin/assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="/admin/assets/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="/admin/assets/js/main.js" type="text/javascript"></script>
    <script src="/admin/assets/js/custom-chart.js" type="text/javascript"></script>
</body>

</html>